<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>plantkartservlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet1</servlet-name>
        <servlet-class>plantkartservlet.SignUpServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet2</servlet-name>
        <servlet-class>plantkartservlet.SignUpServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigUpServlet</servlet-name>
        <servlet-class>plantkartservlet.SigUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>plantkartservlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePersonServlet</servlet-name>
        <servlet-class>plantkartservlet.DeletePersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>plantkartservlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantAddServlet</servlet-name>
        <servlet-class>plantkartservlet.PlantAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantDeleteServlet</servlet-name>
        <servlet-class>plantkartservlet.PlantDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantOrderServlet</servlet-name>
        <servlet-class>plantkartservlet.PlantOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteKartItem</servlet-name>
        <servlet-class>plantkartservlet.DeleteKartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteKartItemServlet</servlet-name>
        <servlet-class>plantkartservlet.DeleteKartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantPaymentSuccessServlet</servlet-name>
        <servlet-class>plantkartservlet.PlantPaymentSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeleteServlet</servlet-name>
        <servlet-class>plantkartservlet.OrderDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet1</servlet-name>
        <url-pattern>/SignUpServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet2</servlet-name>
        <url-pattern>/SignUpServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigUpServlet</servlet-name>
        <url-pattern>/SigUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePersonServlet</servlet-name>
        <url-pattern>/DeletePersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantAddServlet</servlet-name>
        <url-pattern>/PlantAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantDeleteServlet</servlet-name>
        <url-pattern>/PlantDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantOrderServlet</servlet-name>
        <url-pattern>/PlantOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteKartItem</servlet-name>
        <url-pattern>/DeleteKartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteKartItemServlet</servlet-name>
        <url-pattern>/DeleteKartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantPaymentSuccessServlet</servlet-name>
        <url-pattern>/PlantPaymentSuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeleteServlet</servlet-name>
        <url-pattern>/OrderDeleteServlet</url-pattern>
    </servlet-mapping>
</web-app>
